/*======================================================================*\
|| #################################################################### ||
|| # Файл fonts.styl                                                  # ||
|| # Здесь хранятся стили для шрифтов.                                # ||
|| #################################################################### ||
\*======================================================================*/
@import "inc/icomoon/style.styl"