/*======================================================================*\
|| #################################################################### ||
|| # Файл footer.less                                                 # ||
|| # Здесь хранятся стили для футера сайта.                           # ||
|| #################################################################### ||
\*======================================================================*/
