/*======================================================================*\
|| #################################################################### ||
|| # Файл header.styl                                                 # ||
|| # Здесь хранятся стили для шапки сайта.                            # ||
|| #################################################################### ||
\*======================================================================*/
.header {
	position : fixed
	z-index : 99
	coords(0, 0, auto, 0)
	transition .2s ease
	padding : 15px 0

	&.inverse {
		padding : 10px 0
		background-color : alpha($brand-red, .8)
	}

	&__logo {
		color : $cf
		font-size : 30px
		display: inline-block
		padding: 10px 0
		line-height: 1

		&:hover {
			color : $cf
			text-decoration : none
		}
	}

	&__menu {
		text-align : right
		padding : 10px 0
	}
}

.welcome{
	position : relative;

	&__title{
		section-title($cf)
		font-size : 72px
		line-height : .95
		max-width : 830px
		color : $cf

		span{
			font-size : 150px
			margin-top : 45px
		}

		&:after{
			margin : 55px auto 40px
		}
	}

	&__btn{
		background-color : transparent
		border : 3px solid $cf
		color : $cf
		padding-left : 29px
		padding-right : 29px
		
		&:hover{
			background-color : $cf
		}
	}

	.swiper-slide{
		text-align : center
		height : 100vh
		min-height 800px
		display : flex
		flex-direction column
		justify-content : center
		align-items : center
		background : embedurl( $path-img + '/banner.jpg') 50% 50% no-repeat
		background-size : cover;

		> *{
			position : relative
		}

		&:before{
			content ''
			abs-center()
			opacity : .9
			background linear-gradient(to bottom, $brand-red 0%, $brand-yellow 100%)
		}
	}

	.swiper-pagination{
		abs(auto,50%,0)
		transform translate(50%,0)

		.slider-tab{
			font-size : 18px
			text-align : left
			color : $cf
			border-top : 3px solid $cf
			font-family : $ff-1
			opacity : .7
			transition .2s ease
			cursor pointer
			text-transform : uppercase
			padding 18px 0 17px

			span{
				font-size : 24px
				font-weight : 700
				margin-right : 5px
			}

			&:hover{
				opacity : .85
			}

			&.active{
				opacity : 1
			}
		}
	}
}