/*Normalize*/
@import 'inc/normalize';
/*Bootstrap*/
@import 'inc/bootstrap'
/*Swiper*/
@import 'inc/swiper'

/*NIB*/
@import 'nib'

/*Mixins*/
@import 'mixins'

/*Переменные*/
@import 'variables'
/*Шрифты*/
@import 'fonts'
/*Глобальные стили*/
@import 'global'
/*Блоки сайта*/
@import 'blocks'
/*Шапка сайта*/
@import 'header'
/*Главная страница*/
@import 'home-wrapper'
/*Внутреннии страницы*/
@import 'wrapper-middle'
/*Футер сайта*/
@import 'footer'