/*======================================================================*\
|| #################################################################### ||
|| # Файл wrapper-middle.styl                                         # ||
|| # Здесь хранятся стили для внутренних страниц.                     # ||
|| #################################################################### ||
\*======================================================================*/