/*======================================================================*\
|| #################################################################### ||
|| # CSS Filters.                                                     # ||
|| #                                                                  # ||
|| # Не cработает в IE и MS EDGE 12(без флага),                      # ||
|| # в 13 должен уже быть включен флаг по стандарту                   # ||
|| # http://caniuse.com/#feat=css-filters                             # ||
|| #################################################################### ||
\*======================================================================*/

/**
 * URL-адрес() функция принимает расположение XML-файла, который определяет фильтры SVG,
 * и может включать в себя якорь к определенному фильтрующему элементу.
 *
 * Пример: .filter-url(resources.svg#c1)
 */
filter-url( v ) {
  -webkit-filter : url(v)
  filter : url(v)
}


/**
 * Применяет размытие по Гауссу.
 *
 * @param @v - 'радиус' определяет значение стандартного отклонения в функции Гаусса. Чем больше значение, тем больше размытие.
 * Параметр задается как единица измерения в CSS, но не принимает процентных значений.
 *
 * Пример: .filter-blur(5px)
 */
filter-blur( v ) {
  -webkit-filter : blur(v)
  filter         : blur(v)
}

/**
 * Применяет яркость, темнее или ярче.
 *
 * @param @v - чем ниже значение, тем темнее. Соответственно чем выше, тем ярче. При 1 неизменно. Задается в процентах или десятичных дробях.
 *
 * Пример: .filter-brightness(1.2)
 */
filter-brightness( v ) {
  -webkit-filter : brightness(v)
  filter         : brightness(v)
}

/**
 * Применяет контрастность.
 *
 * @param @v - значение контрастности. При 1 неизменно. Задается в процентах или десятичных дробях.
 *
 * Пример: .filter-contrast(1.2)
 */
filter-contrast( v ) {
  -webkit-filter : contrast(v)
  filter         : contrast(v)
}

/**
 * Применяет эффект тени.
 *
 * @param @v - значения тени.
 *
 * Пример: .filter-drop-shadow(16px 16px 10px black)
 */
filter-drop-shadow( v ) {
  -webkit-filter : drop-shadow(v)
  filter         : drop-shadow(v)
}

/**
 * Применяет обесцвечивание, ч/б.
 *
 * @param @v - насколько обесцвечивать, от 0 до 1, в процентах или десятичных дробях.
 */
filter-grayscale( v ) {
  -webkit-filter : grayscale(v)
  filter         : grayscale(v)
}

/**
 * Применяет вращение оттенка цвета.
 *
 * @param @v - градус вращения.
 *
 * Пример: .filter-hue-rotate(90deg)
 */
filter-hue-rotate( v ) {
  -webkit-filter : hue-rotate(v)
  filter         : hue-rotate(v)
}

/**
 * Применяет инвертирование цвета.
 *
 * @param @v - значение инвертирования. От 0 до 1, в процентах или десятичных дробях. Чем выше, тем больше инвертирование.
 *
 * Пример: .filter-invert(1)
 */
filter-invert( v ) {
  -webkit-filter : invert(v)
  filter         : invert(v)
}

/**
 * Применяет прозрачность.
 *
 * @param @v - значение прозрачности. От 0 до 1, в процентах или десятичных дробях. Чем ниже, тем больше прозрачность.
 *
 * Пример: .filter-opacity(0.5)
 */
filter-opacity( v ) {
  -webkit-filter : opacity(v)
  filter         : opacity(v)
}

/**
 * Применяет насыщенность.
 *
 * @param @v - чем ниже значение, тем менее насыщеннее. Соответственно чем выше, тем более насыщеннее. При 1 неизменно. Задается в процентах или десятичных дробях.
 *
 * Пример: .filter-saturate(1.2)
 */
filter-saturate( v ) {
  -webkit-filter : saturate(v)
  filter         : saturate(v)
}

/**
 * Применяет эффект сепии.
 *
 * @param @v - значение сепии. От 0 до 1, в процентах или десятичных дробях. Чем выше, тем больше эффект сепии.
 *
 * Пример: .filter-sepia(0.8)
 */
filter-sepia( v ) {
  -webkit-filter : sepia(v)
  filter         : sepia(v)
}

/**
 * Применяет комбинированные фильтры.
 *
 * @param @v - фильтры со значениями.
 *
 * Пример: .filter(contrast(175%) brightness(103%))
 */
filter( v ) {
  -webkit-filter : v
  filter         : v
}