/*======================================================================*\
|| #################################################################### ||
|| # Позиционирование. Миксины.                                       # ||
|| #################################################################### ||
\*======================================================================*/

/** Координаты */
coords( t = auto, r =auto, b = auto, l = auto )
	top t
	right  r
	bottom b
	left l

/** Только top и left */
coord( t, l )
	top t
	left l

/** Абсолютное позиционирование по координатам */
abs( t = auto, r = auto, b = auto, l = auto )
	position : absolute;
	coords(t, r, b, l)

/** Блок по центру */
abs-center()
	abs(0, 0, 0, 0)
	margin auto